<p><input type="button" value="Toggle" (click)="onClick()">
</p>
<hr>


<p *ngIf="flag; else else_block">LTI (NSE: LTI) is a global technology consulting and digital solutions Company helping more than 360 clients succeed in a converging world. With operations in 30 countries, we go the extra mile for our clients and accelerate their digital transformation
    with LTI’s MosaicTM platform enabling their mobile, social, analytics, IoT and cloud journeys. Founded in 1997 as a subsidiary of Larsen & Toubro Limited, our unique heritage gives us unrivaled real-world expertise to solve the most complex challenges
    of enterprises across all industries. Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness of their business and technology operations, and deliver value to their customers, employees and shareholders. Follow
    us at @LTI_Global
</p><br>
<ng-template #else_block>
    Some alternate content
</ng-template>